<div class="content-wrapper">
  <!-- Staff Name Header -->
  <h2 class="staff-name">{{ staffInfo.fullName }}</h2>

  <!-- Staff Information Section -->
  <div class="section">
    <div class="section-content">
      <p><strong>Title:</strong> {{ staffInfo.position }}</p>
      <p><strong>Staff ID:</strong> {{ staffInfo.staff_id }}</p>
      <p><strong>Staff Date of Birth:</strong> {{ staffInfo.dateOfBirth }}</p>
      <p><strong>Sex:</strong> ${{ staffInfo.sex }}/hour</p>
      <p><strong>Pay Rate:</strong> ${{ staffInfo.payRate }}/hour</p>
    </div>
  </div>
</div>
