<div class="content-wrapper">
    <!-- Staff Name Header -->
    <h2 class="staff-name">{{ staffInfo.name }}</h2>

    <!-- Staff Information Section -->
    <div class="section">
        <div class="section-content">
            <h2>{{staffInfo.lastName}}, {{staffInfo.firstName}}</h2>
            <p><strong>Title:</strong> {{ staffInfo.position }}</p>
            <p><strong>Staff ID:</strong> {{ staffInfo.staffId }}</p>
            <p><strong>Pay Rate:</strong> ${{ staffInfo.hourlyRate }} / hour</p>
            <h3>Banking Information</h3>
            <p><strong>Routing Number:</strong> ${{ staffInfo.bankRoutingNumber }} / hour</p>
            <p><strong>Account Number:</strong> ${{ staffInfo.bankAccountNumber }} / hour</p>
        </div>
    </div>
</div>
