<main class="patient-list">
    <h1 class="header">Select a Patient</h1>
    <section class="accordion-container">
      <section
        class="accordion-item"
        *ngFor="let patient of patients"
        (click)="goToPatientInformation(patient.patientId)"
      >
        <header class="accordion-header">
          <h2>{{ patient.firstName }} {{ patient.lastName }}</h2>
          <p><strong>Date of Birth:</strong> {{ patient.dateOfBirth }}</p>
        </header>
      </section>
    </section>
  </main>
  