<!-- appointment-modal.component.html -->
<h2 mat-dialog-title>Book Appointment on {{ date | date:'fullDate' }}</h2>
<div mat-dialog-content>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Select Dentist</mat-label>
      <mat-select [(ngModel)]="selectedDentist" name="dentist">
        <mat-option *ngFor="let dentist of availableDentists" [value]="dentist.name">
          {{ dentist.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Select Time Slot</mat-label>
      <mat-select [(ngModel)]="selectedTime" name="time">
        <mat-option *ngFor="let time of timeSlots" [value]="time">
          {{ time }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button color="primary" (click)="bookAppointment()">Confirm</button>
</div>
