<div class="content-wrapper">
    <div class="login-wrapper">
        <h1>Login</h1>
        <p class="error" [hidden]="emailValid">Please enter a valid email</p>
        <input type="text" [(ngModel)]="email" (ngModelChange)="validateEmail()" placeholder="Email"/>
        <input type="password" [(ngModel)]="password" placeholder="Password">
        <a href="/forgot-password">Forgot password?</a>
        <button (click)="submitLogin()" style="margin-top: 40px">Login</button>
        <p>New patient? Get started <a href="/signup" style="text-decoration: underline">here</a></p>
    </div>
</div>