<div class="content-wrapper">
    <form class="login-wrapper" [formGroup]="form"  (ngSubmit)="onSubmit()">
        <h1>Login</h1>
        <small class="error" [hidden]="!invalidCredentials">Invalid email or password!</small>
        <small class="error" *ngIf="!email.untouched && !email.valid">Please enter a valid email</small>
        <input name="email" type="text" [formControl]="email" placeholder="Email"/>
        <input name="password" type="password" [formControl]="password" placeholder="Password">
        <a href="/forgot-password">Forgot password?</a>
        <button type="submit" [disabled]="!form.valid" style="margin-top: 40px">Login</button>
        <p>New patient? Get started <a href="/signup" style="text-decoration: underline">here</a></p>
    </form>
</div>