<div class="content-wrapper">
    <button class="button-title" disabled>
        <h2>Find Care</h2>
    </button>
    <button class="button-wrapper">
        <img ngSrc="/assets/grid.png" height="30" width="30"/>
        <h2>Overview</h2>
    </button>
    <button class="button-wrapper">
        <img ngSrc="/assets/calendar.png" height="30" width="30"/>
        <h2>Appointments</h2>
    </button>
    <button class="button-title" disabled>
        <h2>My Record</h2>
    </button>
    <button class="button-wrapper">
        <img ngSrc="/assets/folder.png" height="30" width="30"/>
        <h2>Health Records</h2>
    </button>
    <button class="button-wrapper">
        <img ngSrc="/assets/treatment-plan.png" height="30" width="24" style="padding-right: 6px"/>
        <h2>Treatment Plan</h2>
    </button>
    <button class="button-wrapper">
        <img ngSrc="/assets/user.png" height="30" width="30"/>
        <h2>My Information</h2>
    </button>
    <button class="button-title" disabled>
        <h2>My Payments</h2>
    </button>
    <button class="button-wrapper">
        <img ngSrc="/assets/grid.png" height="30" width="30"/>
        <h2>Payment Summary</h2>
    </button>
</div>