<div class="content-wrapper">
<!--    Patient -->
    <ng-container *ngIf="this.apiService.hasRole('patient')">
        <button class="button-title" disabled>
            <h2>Find Care</h2>
        </button>
        <button class="button-wrapper" id="patientOverview" (click)="navigate('patient/dashboard')">
            <img ngSrc="/assets/grid.png" height="30" width="30"/>
            <h2>Overview</h2>
        </button>
        <button class="button-wrapper" id="patientAppointments"(click)="navigate('patient/appointments')">
            <img ngSrc="/assets/calendar.png" height="30" width="30"/>
            <h2>Appointments</h2>
        </button>
        <button class="button-title" disabled>
            <h2>My Record</h2>
        </button>
        <button class="button-wrapper" id="patientHealthRecords" (click)="navigate('patient/records')">
            <img ngSrc="/assets/folder.png" height="30" width="30"/>
            <h2>Health Records</h2>
        </button>
        <button class="button-wrapper" id="patientTreatmentPlan" (click)="navigate('patient/treatment')">
            <img ngSrc="/assets/treatment-plan.png" height="30" width="24" style="padding-right: 6px"/>
            <h2>Treatment Plan</h2>
        </button>
        <button class="button-wrapper" id="patientInformation">
            <img ngSrc="/assets/user.png" height="30" width="30"/>
            <h2>My Information</h2>
        </button>
        <button class="button-title" disabled>
            <h2>My Payments</h2>
        </button>
        <button class="button-wrapper" id="patientPaymentSummary" (click)="navigate('patient/payments')">
            <img ngSrc="/assets/grid.png" height="30" width="30"/>
            <h2>Payment Summary</h2>
        </button>
    </ng-container>
<!--    Dentist -->
    <ng-container *ngIf="this.apiService.hasRole('dentist')">
        <button class="button-title" disabled>
            <h2>Dashboard</h2>
        </button>
        <button class="button-wrapper" id="dentistOverview" (click)="navigate('dentist/dashboard')">
            <img ngSrc="/assets/grid.png" height="30" width="30"/>
            <h2>Overview</h2>
        </button>
        <button class="button-wrapper" id="dentistCalendar" (click)="navigate('dentist/calendar')">
            <img ngSrc="/assets/calendar.png" height="30" width="30"/>
            <h2>Calendar</h2>
        </button>
        <button class="button-wrapper" id="dentistInformation" (click)="navigate('dentist/information')">
            <img ngSrc="/assets/user.png" height="30" width="30"/>
            <h2>My Information</h2>
        </button>
        <button class="button-wrapper" id="dentistPatientInformation" (click)="navigate('dentist/patient-information')">
            <img ngSrc="/assets/folder.png" height="30" width="30"/>
            <h2>Patient Information</h2>
        </button>
    </ng-container>
<!--    Admin -->
    <ng-container *ngIf="this.apiService.hasRole('admin')">
        <button class="button-title" disabled>
            <h2>Dashboard</h2>
        </button>
        <button class="button-wrapper" id="adminOverview" (click)="navigate('admin/dashboard')">
            <img ngSrc="/assets/grid.png" height="30" width="30"/>
            <h2>Overview</h2>
        </button>
        <button class="button-wrapper" id="adminCalendar" (click)="navigate('admin/calendar')">
            <img ngSrc="/assets/calendar.png" height="30" width="30"/>
            <h2>Calendar</h2>
        </button>
        <button class="button-wrapper" id="adminStaffInformation" (click)="navigate('admin/staff-information')">
            <img ngSrc="/assets/user.png" height="30" width="30"/>
            <h2>Staff Information</h2>
        </button>
    </ng-container>
</div>