<main class="staff-information-container bg-white">
  <header class="header">
    <h1>Staff Information</h1>
    <p>View and manage all staff members.</p>
  </header>

  <!-- Loading Indicator -->
  <div *ngIf="isLoading" class="loading-indicator">
    <mat-spinner></mat-spinner>
  </div>

  <!-- Error Message -->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <!-- Section for Staff List -->
  <section class="staff-list" *ngIf="!isLoading && !errorMessage">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let staff of staffs" class="mat-expansion-panel-custom">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ staff.firstName }} {{ staff.lastName }} - {{ staff.position }}
          </mat-panel-title>
          <mat-panel-description>
            {{ staff.email }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="staff-details">
          <div class="column">
            <p><strong>Staff ID:</strong> {{ staff.staffId }}</p>
            <p><strong>Date of Birth:</strong> {{ staff.dateOfBirth | date: 'longDate' }}</p>
            <p><strong>Qualifications:</strong> {{ staff.qualifications?.join(', ') || 'N/A'}}</p>
          </div>
          <div class="column">
            <p><strong>Position:</strong> {{ staff.position || 'N/A' }}</p>
            <p><strong>Pay:</strong> {{ staff.salary || 'N/A' }}</p>
            <p><strong>Years Worked:</strong> {{ staff.yearsWorked || 'N/A' }}</p>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </section>
</main>
