<main class="staff-summary">

  <!--Profile Picture & Name-->

  <section class="profile">
    <img src="/assets/person.png"
         style="position: absolute; left: 500px; top: 75px;"
         class="profile-icon">
    <header class="profile-name"
    style="font-family: Inter, sans-serif">Jane Doe</header>
  </section>

  <!--Hours & Pay-->

  <section class="pay">
    <img src="/assets/clock.png"
      style="position: absolute; bottom: 170px;"
     class="clock-icon">
    <div class="recent-time"
    style="position: absolute; right: 130px; top: 100px;"
    >40.00</div>
    <div class="recent-hours"
         style="position: absolute; right: 130px; top: 150px;"
    >Hours Worked</div>
    <div class="pay-period"
         style="position: absolute; right: 50px; top: 200px;"
         >Pay Period: 11/20-11/26</div>
  </section>

  <!--Information Section-->
  <section class="information-box">
    <table class="accordion-table">
      <thead>
      <style>
        table{
          border-spacing: 25px;
        }
        td{
          padding-left: 50px;
        }
      </style>
      </thead>
      <tbody>
      <tr>
        <td>Title: </td>
        <td>General Dentist</td>
        <td>Supervisor: </td>
        <td>John Smith</td>
        <td>Phone Number: </td>
        <td>(916) 555-6547</td>
      </tr>
      <tr>
        <td>Staff ID: </td>
        <td>000001</td>
        <td>Location: </td>
        <td>Sacramento, CA</td>
        <td>Email: </td>
        <td>ilovemyjob&commat;gmail.com</td>
      </tr>
      <tr>
        <td>Years of Service: </td>
        <td>3.2 years</td>
        <td>Employment: </td>
        <td>Full-Time</td>
        <td>Emergency Contact: </td>
        <td>(916) 555-9876</td>
      </tr>
      </tbody>
    </table>
    <div class="box-title"
         style="position: absolute; top: 30px; left: 65px"
         >Information</div>
    <div class="pay-rate"
         style="position: absolute; top: 30px; right: 70px"
         >Pay Rate: $56.89/hr.</div>
    <div class="box-line"
         style="position: absolute; top: 70px; left: 40px"
         ></div>
  </section>

  <!--Timesheet Section-->
  <section class="timesheet">
    <div class="timesheet-title"
         style="position: absolute; bottom: 220px; left: 360px;"
    >Timesheet</div>
    <div class="timesheet-line"
      style="position: absolute; bottom: 200px; right: 80px;"
    ></div>
    <table class="timesheet-table">
      <thead>
      <style>
      </style>
      </thead>
      <tbody>
        <tr>
          <td>11/20/24-11/26/24 .....................................................................................................................................................................................</td>
          <td>40.00 Hrs.</td>
        </tr>
        <tr>
          <td>11/13/24-11/19/24 .....................................................................................................................................................................................</td>
          <td>40.00 Hrs.</td>
        </tr>
        <tr>
          <td>11/06/24-11/12/24 .....................................................................................................................................................................................</td>
          <td>36.00 Hrs.</td>
        </tr>
      </tbody>
    </table>
  </section>

</main>
