<div class="content-wrapper">
    <div class="login-wrapper">
        <h1>Sign Up</h1>
        <p class="error" [hidden]="emailValid">Please enter a valid email</p>
        <p class="error" [hidden]="confirmedEmail == '' || email == confirmedEmail">Please make sure your email matches</p>
        <p class="error" [hidden]="phoneValid">Please enter a valid phone number</p>
        <p class="error" [hidden]="passwordValid">Please choose a stronger password</p>
        <p class="error" [hidden]="confirmedPassword == '' || password == confirmedPassword">Please make sure your password matches</p>

        <input type="text" [(ngModel)]="firstName" placeholder="First Name"/>
        <input type="text" [(ngModel)]="lastName" placeholder="Last Name"/>
        <input type="text" [(ngModel)]="email" (ngModelChange)="validateEmail()" placeholder="Email"/>
        <input type="text" [(ngModel)]="confirmedEmail" placeholder="Confirm Email"/>
        <input type="text" [(ngModel)]="phone" (ngModelChange)="validatePhone()" placeholder="Phone Number"/>
        <input type="password" [(ngModel)]="password" (ngModelChange)="validatePassword()" placeholder="Password">
        <input type="password" [(ngModel)]="confirmedPassword" placeholder="Confirm Password">
        <button (click)="submitSignUp()" style="margin-top: 40px">Sign Up</button>
        <p>Have an account? Login <a href="/login" style="text-decoration: underline">here</a></p>
    </div>
</div>