<div class="content-wrapper">
    <div class="login-wrapper">
        <h1>Forgot Password</h1>
        <p>Instructions to reset password will be sent</p>
        <p class="error" [hidden]="emailValid">Please enter a valid email</p>
        <input type="text" [(ngModel)]="email" (ngModelChange)="validateEmail()" placeholder="Email"/>
        <button (click)="sendForgotPasswordEmail()" style="margin-top: 40px">Send Email</button>
        <p>Remember your password? Login <a href="/login" style="text-decoration: underline">here</a></p>
    </div>
</div>