<div class="content-wrapper">
    <div class="login-wrapper">
        <h1>Reset Password</h1>
        <p class="error" [hidden]="passwordValid">Please choose a stronger password</p>
        <p class="error" [hidden]="confirmedPassword == '' || password == confirmedPassword">Please make sure your password matches</p>
        <input type="password" [(ngModel)]="password" (ngModelChange)="validatePassword()" placeholder="Password">
        <input type="password" [(ngModel)]="confirmedPassword" placeholder="Confirm Password">
        <button (click)="resetPassword()" style="margin-top: 40px">Reset Password</button>
    </div>
</div>