<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./staff-patient-info.component.css">
  <title>Styled Buttons - Vertical Layout</title>
</head>
<body>
  <div class="button-container">
    <button class="custom-button" [routerLink]="['/patient-info-staff-view-page-2']">User</button>
    <button class="custom-button" [routerLink]="['/patient-info-staff-view-page-2']">User</button>
    <button class="custom-button" [routerLink]="['/patient-info-staff-view-page-2']">User</button>
    <button class="custom-button" [routerLink]="['/patient-info-staff-view-page-2']">User</button>
  </div>
</body>
</html>
