<main class = "staff-dashboard">
  <h1 class="dashboard">Dashboard</h1>
  <div class ="space"></div>

  <section class="overview">
    <button class="overview" routerLink="/staff/dashboard"> Overview </button>
  </section>

  <section class="calendar">
      <button class="calendar" routerLink="/staff/calendar">Calendar </button>
  </section>

    <section class="my-info">
      <button class="my-info" routerLink="/staff/staff-information">My Information </button>
    </section>

      <section class="patient-info">
      <button class="patient-info" routerLink="/staff/patient-information">Patient Information </button>
    </section>
</main>
